{% extends 'main.html' %}
{% block title %}
    Login Page
{% endblock %}
{% block content %}
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-login" style="color:white">
                {{ form.hidden_tag() }}
                <img class="mb-4" src="https://i.ibb.co/2vFNGk8/login.jpg" alt="register here">
                <h1 class="h3 mb-3 font-weight-normal">
                    Please Login To Your Account
                </h1>
                <br>
            </form>
        </div>
    </body>
{% endblock %}